.hero__background{
    background-color: #3F5080;
}

.hero__text2{
    color: #76b04e !important;
}

.badge__container{
    background-color: #76b04e !important;
}

.badge__text1{
    background-color: #3F5080;
}

.btn__container{
    background-color: #76b04e !important;
    color: black;
}